<!-- Wappler include head-page="layouts/Index" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="Index" appConnect="local" components="{dmxNotifications:{},dmxBrowser:{},dmxStateManagement:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxBootbox5:{},dmxFormatter:{}}" jquery_slim_35="local" moment_2="local" -->
<link href="/css/Index.css" rel="stylesheet" />
<meta content="/Index" name="ac:route">
<div id="browser" is="dmx-browser">
</div>
<dmx-cookie-manager id="cookies">
</dmx-cookie-manager>
<dmx-notifications id="notify" timeout="500">
</dmx-notifications>
<div class="d-flex" fid="1:2" id="Index">
    <div fid="2:18" fname="Browser Container" id="_2_18">
    </div>
    <div fid="2:4" fname="AI Agents Chat Container" id="_2_4">
    </div>
    <div fid="2:17" fname="Side Bar" id="_2_17">
        <div fid="36:54" fname="Home Button" id="_36_54">
            <img fid="36:60" fname="Browser 1" height="33.86821746826172px" id="Browser_1" src="/assets/images/Browser_1-_36_60-34.0x33.86821746826172.png" width="34.0px">
        </div>
    </div>
    <div fid="2:3" fname="Top Bar" id="_2_3">
        <div fid="2:15" fname="Version Container" id="_2_15">
            <span fid="2:16" fname="Version Number" id="_2_16">
                Ver -- 1.0.0
            </span>
        </div>
        <div fid="2:6" fname="Business Name Title Container" id="_2_6">
            <span fid="2:7" fname="Business Name Title " id="_2_7">
                Susan Campaigner - AI
            </span>
        </div>
        <div class="_2_12_wrapper" fid="2:12" fname="Plan Version" id="_2_12_wrapper">
            <span fid="2:12" fname="Plan Version" id="_2_12">
                Free Version
            </span>
        </div>
    </div>
    <div fid="2:8" fname="Version Container" id="_2_8">
        <div class="_2_9_wrapper" fid="2:9" fname="Version Number" id="_2_9_wrapper">
            <span fid="2:9" fname="Version Number" id="_2_9">
                A PRODUCT DEVELOPED AND DESIGNED BY VALLERYS AI
            </span>
        </div>
    </div>
    <div class="_2_13_wrapper" fid="2:13" fname="Footer Title Container" id="_2_13_wrapper">
        <div fid="2:13" fname="Footer Title Container" id="_2_13">
            <div class="_2_14_wrapper" fid="2:14" fname="Footer Title" id="_2_14_wrapper">
                <span fid="2:14" fname="Footer Title" id="_2_14">
                    App designed by Jeremiah Grove &amp; the Vallery's AI team. All rights reserved 2024
                </span>
            </div>
        </div>
    </div>
    <div fid="35:47" fname="Home Button" id="_35_47">
        <img fid="36:62" fname="home 3" height="34.0px" id="home_3" src="/assets/images/home_3-_36_62-34.0x34.0.png" width="34.0px">
    </div>
</div>