<!-- Wappler include head-page="layouts/Index" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="Index" appConnect="local" components="{dmxNotifications:{},dmxBrowser:{},dmxStateManagement:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxBootbox5:{},dmxFormatter:{}}" jquery_slim_35="local" moment_2="local" -->
<link href="/css/Index.css" rel="stylesheet" />
<meta content="/Index" name="ac:route">
<div id="browser" is="dmx-browser">
</div>
<dmx-cookie-manager id="cookies">
</dmx-cookie-manager>
<dmx-notifications id="notify" timeout="500">
</dmx-notifications>
<div class="d-flex" fid="1:2" id="Index">
    <div fid="2:18" fname="Browser Container" id="_2_18">
    </div>
    <div fid="2:4" fname="AI Agents Chat Container" id="_2_4">
    </div>
    <div fid="2:17" fname="Side Bar" id="_2_17">
        <div fid="32:42" fname="Rectangle 3" id="_32_42">
            <svg fill="none" id="_32_42_svg" preserveaspectratio="none" viewbox="0 0 32 6" xmlns="http://www.w3.org/2000/svg">
                <rect fill="#D9D9D9" height="6" width="32">
                </rect>
            </svg>
        </div>
    </div>
    <div fid="2:3" fname="Top Bar" id="_2_3">
        <div fid="2:15" fname="Version Container" id="_2_15">
            <span fid="2:16" fname="Version Number" id="_2_16">
                Ver -- 1.0.0
            </span>
        </div>
        <div fid="2:6" fname="Business Name Title Container" id="_2_6">
            <span fid="2:7" fname="Business Name Title " id="_2_7">
                Susan Campaigner - AI
            </span>
        </div>
        <div class="_2_12_wrapper" fid="2:12" fname="Plan Version" id="_2_12_wrapper">
            <span fid="2:12" fname="Plan Version" id="_2_12">
                FREE VERSION
            </span>
        </div>
    </div>
    <div fid="2:8" fname="Version Container" id="_2_8">
        <div class="_2_9_wrapper" fid="2:9" fname="Version Number" id="_2_9_wrapper">
            <span fid="2:9" fname="Version Number" id="_2_9">
                A PRODUCT DEVELOPED AND DESIGNED BY VALLERYS AI
            </span>
        </div>
        <div fid="32:40" fname="Rectangle 2" id="_32_40">
            <svg fill="none" id="_32_40_svg" preserveaspectratio="none" viewbox="0 0 82 18" xmlns="http://www.w3.org/2000/svg">
                <rect fill="#D9D9D9" height="18" width="82">
                </rect>
            </svg>
        </div>
    </div>
    <div class="_2_13_wrapper" fid="2:13" fname="Footer Title Container" id="_2_13_wrapper">
        <div fid="2:13" fname="Footer Title Container" id="_2_13">
            <div class="_2_14_wrapper" fid="2:14" fname="Footer Title" id="_2_14_wrapper">
                <span fid="2:14" fname="Footer Title" id="_2_14">
                    App designed by Jeremiah Grove &amp; the Vallery's AI team. All rights reserved 2024
                </span>
            </div>
        </div>
    </div>
    <div fid="27:9" fname="Rectangle 1" id="_27_9">
        <svg fill="none" id="_27_9_svg" preserveaspectratio="none" viewbox="0 0 50 504" xmlns="http://www.w3.org/2000/svg">
            <rect fill="#D9D9D9" height="504" width="50">
            </rect>
        </svg>
    </div>
</div>