dmx-serverconnect {
display: none
}

html {
height:auto;
min-height:100vh !important;
}

body {
height:auto;
background-color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1.0);
}

#Index_div {
height:auto;
min-height:100vh !important;
}

w-include {
height:0px !important;
}

#Index {
height:inherit;
min-height:inherit;
background-color:rgba(68.00000354647636, 68.00000354647636, 68.00000354647636, 1.0);
border-radius:10.0px;
}

#_2_18 {
position:absolute;
left:555.0px;
top:70.0px;
height:485.0px;
width:656.0px;
background-color:rgba(44.000001177191734, 47.0000009983778, 50.000000819563866, 1.0);
border-radius:10.0px;
box-shadow:0.0px 4.0px 4.0px rgba(0.0, 0.0, 0.0, 0.25);
}

#_38_110 {
position:absolute;
left:300.0px;
top:18.0px;
height:23.0px;
width:55.0px;
font-family:Roboto Flex;
font-weight:600;
font-size:20.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(255.0, 255.0, 255.0, 1.0);
display:flex;
}

#_2_4 {
position:absolute;
left:204.0px;
top:70.0px;
height:485.0px;
width:313.0px;
background-color:rgba(44.000001177191734, 47.0000009983778, 50.000000819563866, 1.0);
border-radius:10.0px;
box-shadow:0.0px 4.0px 4.0px rgba(0.0, 0.0, 0.0, 0.25);
}

#_38_107 {
position:absolute;
left:88.0px;
top:16.0px;
height:23.0px;
width:167.0px;
font-family:Roboto Flex;
font-weight:600;
font-size:20.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(255.0, 255.0, 255.0, 1.0);
display:flex;
}

#_2_17 {
position:absolute;
left:90.0px;
top:70.0px;
height:485.0px;
width:82.0px;
background-color:rgba(44.000001177191734, 47.0000009983778, 50.000000819563866, 1.0);
border-radius:10.0px;
box-shadow:1.0px 2.0px 3.0px rgba(0.0, 0.0, 0.0, 0.25);
}

#_37_85 {
position:absolute;
left:23.0px;
top:106.0px;
height:38.0px;
width:36.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_37_86 {
position:absolute;
left:8.333333333333332%;
width:83.33333333333334%;
top:7.894736842105263%;
height:78.94736842105263%;
display:flex;
align-items:center;
justify-content:center;
}

#_37_91 {
position:absolute;
left:23.0px;
top:180.0px;
height:30.0px;
width:36.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_37_92 {
position:absolute;
left:8.333333333333332%;
width:83.33333333333334%;
top:3.3333333333333335%;
height:100.0%;
display:flex;
align-items:center;
justify-content:center;
}

#_38_118 {
position:absolute;
left:0.0px;
top:406.0px;
height:79.0px;
width:82.0px;
background-color:rgba(31.10221266746521, 80.74999898672104, 7.738541727885604, 1.0);
border-radius:7.0px;
box-shadow:1.0px 2.0px 4.0px rgba(0.0, 0.0, 0.0, 0.25);
}

#_37_97 {
position:absolute;
left:22.0px;
top:425.0px;
height:39.0px;
width:38.0px;
display:flex;
align-items:center;
justify-content:center;
}

#_37_103 {
position:absolute;
left:23.0px;
top:251.0px;
height:34.0px;
width:36.0px;
display:flex;
align-items:center;
justify-content:center;
}

#_2_3 {
position:absolute;
left:41.0px;
top:0.0px;
height:44.0px;
width:1218.0px;
background-color:rgba(44.000001177191734, 47.0000009983778, 50.000000819563866, 1.0);
border-radius:15.0px;
box-shadow:0.0px 4.0px 4.0px rgba(0.0, 0.0, 0.0, 0.25);
}

#_2_15 {
position:absolute;
left:1064.0px;
top:11.0px;
height:23.0px;
width:106.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_2_16 {
position:absolute;
left:11.0px;
top:0.0px;
height:21.0px;
width:116.0px;
font-family:Roboto Mono;
font-weight:400;
font-size:16.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(255.0, 255.0, 255.0, 1.0);
display:flex;
}

#_2_6 {
position:absolute;
left:0.0px;
top:2.0px;
height:33.0px;
width:257.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_2_7 {
position:absolute;
left:32.0px;
top:12.0px;
height:19.0px;
width:185.0px;
font-family:Roboto Flex;
font-weight:400;
font-size:16.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(255.0, 255.0, 255.0, 1.0);
display:flex;
}

#_2_12_wrapper {
position:absolute;
left:0px;
top:0px;
flex-direction:row;
display:flex;
justify-content:center;
height:100%;
width:100%;
}

#_2_12 {
transform:translateY(11.0px);
position:relative;
height:23.0px;
width:128.0px;
font-family:Roboto Flex;
font-weight:500;
font-size:20.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(255.0, 255.0, 255.0, 1.0);
display:flex;
}

#_2_8 {
position:absolute;
left:41.0px;
top:106.0px;
transform:rotate(-1.5707963267948963rad);
height:442.0px;
width:49.000000000000114px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_2_9_wrapper {
position:absolute;
left:0px;
top:0px;
flex-direction:row;
display:flex;
justify-content:center;
align-items:center;
height:100%;
width:100%;
}

#_2_9 {
transform:translateX(-0.5px);
position:relative;
height:416.0px;
width:18.000000000000114px;
font-family:Inter;
font-weight:400;
font-size:15.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(255.0, 255.0, 255.0, 1.0);
display:flex;
}

#_2_13_wrapper {
position:absolute;
left:0px;
top:0px;
flex-direction:row;
display:flex;
justify-content:center;
align-items:center;
height:100%;
width:100%;
}

#_2_13 {
transform:translateX(-0.5px) translateY(275.5px);
position:relative;
height:44.0px;
width:737.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#_2_14_wrapper {
position:absolute;
left:0px;
top:0px;
flex-direction:row;
display:flex;
justify-content:center;
align-items:center;
height:100%;
width:100%;
}

#_2_14 {
transform:translateX(-0.5px) translateY(0.5px);
position:relative;
height:19.0px;
width:614.0px;
font-family:Inter;
font-weight:400;
font-size:16.0px;
letter-spacing:0.0px;
line-height:100.0%;
justify-content:LEFT;
align-items:start;
color:rgba(255.0, 255.0, 255.0, 1.0);
display:flex;
}

#_35_47 {
position:absolute;
left:116.0px;
top:107.0px;
height:30.0px;
width:30.0px;
background-color:rgba(0.0, 0.0, 0.0, 0.0);
}

#home_3 {
position:absolute;
left:0.0px;
top:0.0px;
height:30.0px;
width:30.0px;
}

